[user]
	name = dwkns
	email = dwkns@me.com
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore_global
	editor = code -w
[pull]
	rebase = false
[credential]
	helper = osxkeychain
[push]
	autoSetupRemote = true
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
