[user]
	name = dwkns
	email = dwkns@me.com
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore_global
	editor = code -w
[pull]
	rebase = false
[credential]
	helper = osxkeychain
[push]
	autoSetupRemote = true
